@import 'qubit-styles/release/qubit-styles';
@import 'qubit-styles/css/variables/color';

.AuthError {
  width: 200px;
  text-align: center;
  margin-top: 40px;
}

.Loader {
  width: 128px;
  height: 128px;
  background-image: url('https://d1m54pdnjzjnhe.cloudfront.net/thomascookairlines/t012/ajax-loader.gif');
  background-size: contain;
}

.Refresh {
  background-color: white;
  position: fixed;
  top: 0;
  height: 25px;
  line-height: 25px;
  width: 100%;
}

.Wrapper {
  margin-top: 60px;
}

.Section {
  width: 100%;
}

.Section-title {
  border-bottom: 1px solid gray;
  padding: 5px 10px 5px;
  margin: 10px;
  color: gray;
}

.Section-innerWrapper {
  display: flex;
  width: 100%;
}

.Section--header {
  position: fixed;
  top: 25px;
  background-color: white;
}

.Section--header .Cse {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.Cse {
  background-color: var(--color-macAndCheese);
  padding: 5px 10px;
  margin: 0 1px;
  box-sizing: border-box;
  width: 14%;
  min-height: 30px;
}

.Cse.isFull {
  background-color: var(--color-lobster);
}

.Cse.isFree {
  background-color: var(--color-oceanGreen);
}

.Task {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  letter-spacing: -0.5px;
}

.isClickable {
  cursor: pointer;
}
